<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="container">
    <form name="deleteForm" th:action="@{|/board/delete/${seq}|}" th:method="post">
        <input name="seq" th:value="${seq}">
        <label th:for="pwd">비밀번호</label> <input th:name="pwd">
        <input type="submit">
        <a th:href="@{|/board/read/${seq}|}">취소</a>
    </form>
    <div th:value="${msg}"></div>
</div>
</body>
</html>