<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div class="container">
    <form th:action="@{|/member/${memberVO.id}/updatePW|}" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input name="id" th:value="${memberVO.id}" readonly></td>
            </tr>
            <tr>
                <td>현재 비밀번호</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td>새 비밀번호</td>
                <td><input type="password" name="newPwd"></td>
            </tr>
            <tr>
                <td>새 비밀번호 확인</td>
                <td><input type="password" name="newPwdCheck"></td>
            </tr>
        </table>
        <input type="submit" value="변경">
    </form>
</div>
</body>
</html>